[Unit]
Description=Supervised execution service
After=lxc.service lxc-net.service rc-local.service host-setup.service

[Service]
Type=simple
ExecStart=/sbin/supervised.sh
KillMode=process

[Install]
WantedBy=multi-user.target
