[Unit]
Description=Historian service (container session logger)
After=systemd-machined.service

[Service]
Type=simple
ExecStart=/sbin/historian.sh start
ExecStop=/sbin/historian.sh stop

[Install]
WantedBy=multi-user.target
