[Unit]
Description=Host system setup
BEfore=systemd-machined.service
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/sbin/host-setup start
ExecStop=/sbin/host-setup stop

[Install]
WantedBy=multi-user.target
